#footer
	.container
		.footer-top
			.col-md-4.col-sm-12.col-xs-12
				.item-footer
					.media
						.media-left
							a(href="#")
								img(class='media-object', src='images/pics04.jpg')
						.media-body
							h4.media-heading ETIAM POSUERE AUGUE 
							p Donec nonummy magna quis risus eleifend.
							a(href="#", class='more') MORE 
			.col-md-4.col-sm-12.col-xs-12
				.item-footer
					.media
						.media-left
							a(href="#")
								img(class='media-object', src='images/pics05.jpg')
						.media-body
							h4.media-heading ETIAM POSUERE AUGUE 
							p Donec nonummy magna quis risus eleifend.
							a(href="#", class='more') MORE 
			.col-md-4.col-sm-12.col-xs-12
				.item-footer
					.media
						.media-left
							a(href="#")
								img(class='media-object', src='images/pics06.jpg')
						.media-body
							h4.media-heading ETIAM POSUERE AUGUE 
							p Donec nonummy magna quis risus eleifend.
							a(href="#", class='more') MORE 
		.footer-bottom
			.col-md-3.col-sm-6.col-xs-12
				h3 MAECENAS LECTUS
				.balloon
					blockquote “  Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.  ”<br/><strong>–  John Smith</strong>
			.col-md-3.col-sm-6.col-xs-12
				h3 DONEC DICTUM
				article
					h5 MAURIS VULPUTATE DOLOR SIT AMET
					p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
				article
					h5 MAURIS VULPUTATE DOLOR SIT AMET
					p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
				article
					h5 MAURIS VULPUTATE DOLOR SIT AMET
					p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
			.col-md-3.col-sm-6.col-xs-12
				h3 NULLA LEIFEND
				section
					p Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.
					ul
						li
							img(src='images/pics07.jpg')
						li
							img(src='images/pics08.jpg')
						li
							img(src='images/pics09.jpg')
						li
							img(src='images/pics10.jpg')
						li
							img(src='images/pics11.jpg')
						li
							img(src='images/pics12.jpg')
					a.more MORE COLLECTIONS
			.col-md-3.col-sm-6.col-xs-12
				h3 LUCTUS ELEIFEND
				section
					p <strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus.</strong><br/><br/> Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.<br/><br/>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.<br/><br/>
					a.more MORE COLLECTIONS
		.copy-right.text-center
			p Design: <a>TEMPLATED</a> Images: <a>Unsplash</a> (CC0)
				


