#menu
	.navbar.navbar-inverse
		.container
			.navbar-header
				button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#Navbar')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand EX MACHINA
			div(id='Navbar', class='collapse navbar-collapse')
				ul.nav.navbar-nav.navbar-right
					li.active
						a HOMEPAGE
					li
						a LEFT SIDEBAR
					li
						a RIGHT SIDEBAR
					li
						a NO SIDEBAR