#main
	.container
		.main1
			.row
				.col-md-3.col-sm-6.col.xs-12.item
					h3 FEUGIAT TEMPUS
					p In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.
					a(href='#', class='img-item')
						img(src='images/pics13.jpg')
					a(class="more") MORE
				.col-md-3.col-sm-6.col.xs-12.item
					h3 FEUGIAT TEMPUS
					p In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.
					a(href='#', class='img-item')
						img(src='images/pics14.jpg')
					a(class="more") MORE
				.col-md-3.col-sm-6.col.xs-12.item
					h3 FEUGIAT TEMPUS
					p In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.
					a(href='#', class='img-item')
						img(src='images/pics15.jpg')
					a(class="more") MORE
				.col-md-3.col-sm-6.col.xs-12.item
					h3 FEUGIAT TEMPUS
					p In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.
					a(href='#', class='img-item')
						img(src='images/pics16.jpg')
					a(class="more") MORE

		.main2
			.row
				.col-md-6.col-sm-12.col-xs-12.item
					section
						header
							h2 INTEGER GRAVIDA NIBH QUIS URNA
							h3 AUGUE PRAESENT A LACUS AT URNA CONGUE RUTRUM
						article
							p This is <strong>Ex Machina</strong>, a responsive HTML5 site template freebie by <a href="#">TEMPLATED</a>. Released for free under the <a href="#">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at <a href="#">our site</a> or follow us on <a href="#">Twitter</a>. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.
							a.more MORE DETAILS

				.col-md-6.col-sm-12.col-xs-12.right-main
					.col-md-6.col-sm-6.col-xs-12
						h3 FEUGIAT TEMPUS
						.media
							.media-left
								a(href="#")
									img(class='media-object', src='images/pics07.jpg')
							.media-body
								h4.media-heading Donec leo, vivamus 
								p fermentum augue praesent a lacus at urna rutrum.
						.media
							.media-left
								a(href="#")
									img(class='media-object', src='images/pics08.jpg')
							.media-body
								h4.media-heading Donec leo, vivamus 
								p fermentum augue praesent a lacus at urna rutrum.
						.media
							.media-left
								a(href="#")
									img(class='media-object', src='images/pics09.jpg')
							.media-body
								h4.media-heading Donec leo, vivamus 
								p fermentum augue praesent a lacus at urna rutrum.
						.media
							.media-left
								a(href="#")
									img(class='media-object', src='images/pics10.jpg')
							.media-body
								h4.media-heading Donec leo, vivamus 
								p fermentum augue praesent a lacus at urna rutrum.
					.col-md-6.col-sm-6.col-xs-12
						.item1
							h3 FEUGIAT TEMPUS
							ul
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
						.item2
							h3 NULLA LUCTUS ELEIFEND
							ul
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
								li 
									a Maecenas luctus lectus at sapien
	