doctype html
html
	head
		link(rel='stylesheet',href='css/main.css')
	body
		include modules/menu/menu.pug
		include modules/header/header.pug
		include modules/main/main.pug
		include modules/footer/footer.pug

		script(src='js/main.js', charset='utf-8')